.content {
  @media (min-width: 768px) {
    padding: var(--size-8);
  }
  width: 95%;
  max-width: 60rem;
  margin: var(--size-8) auto;
  font-size: var(--size-5);
  line-height: var(--size-8);
  border-radius: 6px;
  padding: var(--size-4);
  box-shadow: var(--shadow);
  p {
    color: var(--color-grey-800);
  }
  .image {
    margin: var(--size-4) auto;
    width: 100%;
    max-width: 600px;
  }
}

.header {
  @media (min-width: 768px) {
    margin: var(--size-8) 0;
    flex-direction: row;
    align-items: flex-end;
    h1 {
      font-size: var(--size-16);
      text-align: left;
    }
  }
  padding-bottom: var(--size-8);
  border-bottom: 1px solid black;
  margin: var(--size-4) 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  h1 {
    font-size: var(--size-8);
    margin: 0;
    line-height: initial;
    text-align: center;
  }
  img {
    object-fit: cover;
    width: 200px;
    height: 120px;
  }
}
