.contact {
  background: whitesmoke;
  box-shadow: var(--shadow);
  margin: var(--size-8) auto;
  border-radius: 6px;
  width: 100%;
  max-width: 50rem;
  padding: var(--size-4);
  font-size: var(--size-6);
  h1 {
    font-size: var(--size-8);
    margin: var(--size-4) 0;
    text-align: left;
    @media (min-width: 768px) {
      font-size: var(--size-16);
      text-align: center;
    }
  }
}

.form {
  label {
    display: block;
    font-weight: lighter;
    font-size: 1rem;
    margin: var(--size-2) 0 var(--size-1) 0;
  }
  input,
  textarea {
    font: inherit;
    padding: var(--size-1);
    border-radius: 4px;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: var(--shadow);
    }
  }
  button {
    margin: 0 auto;
    font: inherit;
    cursor: pointer;
    background-color: #ff033e;
    border: 1px solid transparent;
    padding: var(--size-2) var(--size-4);
    border-radius: 4px;
    color: white;
    transition: 0.3s all ease-in-out;
    &:hover {
      background: transparent;
      border: 1px solid #ff033e;
      color: black;
    }
  }
}

.controls {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.control {
  flex: 1;
  min-width: 10rem;
}

.actions {
  margin-top: var(--size-4);
  text-align: right;
}
